<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent>
  </queries>

  <application>
    <activity
      android:name="expo.modules.noticelistener.AppFilterActivity"
      android:label="監聽的應用程式"
      android:exported="false"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />

    <service
      android:name="expo.modules.noticelistener.LifeNoticeListenerService"
      android:label="生活通知管家自動偵測"
      android:exported="false"
      android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.NotificationListenerService" />
      </intent-filter>
      <meta-data
        android:name="android.service.notification.default_filter_types"
        android:value="conversations|alerting" />
      <meta-data
        android:name="android.service.notification.disabled_filter_types"
        android:value="ongoing|silent" />
    </service>

    <service
      android:name="expo.modules.noticelistener.LifeNoticeCaptureTileService"
      android:label="擷取行程"
      android:exported="true"
      android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
      <intent-filter>
        <action android:name="android.service.quicksettings.action.QS_TILE" />
      </intent-filter>
      <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
    </service>

    <receiver
      android:name="expo.modules.noticelistener.QuickCaptureReceiver"
      android:exported="false" />
  </application>
</manifest>
